{% extends 'frontend/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h2>Your profile</h2>

    <div class="box mt-4">
        <table class="table table-bordered table-hover">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{ email }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}