{% extends 'email/base.html.twig' %}

{% block body %}

    {% set resetUrl = url('auth_password_reset_reset', {'resetToken': resetToken}) %}
    <p>
        <a href="{{ resetUrl }}">Click here to reset your password</a>
    </p>

{% endblock %}
